@import base
@import variables


footer
  padding: 20px
  text-align: center
  border-top: 1px solid #ddd

a, a:hover, a:focus, a:visited
  color: $color__primary
  text-decoration: none

.page-enter-active, .page-leave-active
  transition: opacity .5s

.page-enter, .page-leave-active
  opacity: 0
